<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TP ionic IACOPINO Romain
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card> -->

    <ion-card>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-item (click)="fireAlert()" class="ion-activated">
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Fire Alert</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item (click)="takePicture()" class="ion-activated">
            <ion-icon name="wine" slot="start"></ion-icon>
            <ion-label>Take picture</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-item routerLink="/login">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Go To Login</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item (click)="sendNotif()" class="ion-activated">
            <ion-icon name="notifications-outline" slot="start"></ion-icon>
            <ion-label>Send Notification</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-item routerLink="/camera" class="ion-activated">
            <ion-icon name="videocam-outline" slot="start"></ion-icon>
            <ion-label>Start Camera</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>Geolocation</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-card>
    <ion-card *ngIf="imgData">
      <img [src]="imgData">
    </ion-card>
  </div>

  <ion-list>

    <ion-row>
      <ion-col size="6" class="geoloc_title">
        <ion-label>Latitude</ion-label>
      </ion-col>
      <ion-col size="6" class="geoloc_title">
        <ion-label>longitude</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="geoloc_content">
        <ion-item *ngFor="let item of geolocArray">
          <ion-label>{{item.lat}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="geoloc_content">
        <ion-item *ngFor="let item of geolocArray">
          <ion-label>{{item.lng}}</ion-label>
        </ion-item>

      </ion-col>
    </ion-row>

  </ion-list>

</ion-content>